{
  "openapi": "3.0.2",
  "info": {
    "title": "Adobe Photoshop and Imaging APIs",
    "description": "Your interface to Adobe Photoshop and Imaging APIs",
    "version": "1.0"
  },
  "servers": [{
    "url": "https://image.adobe.io"
  }],
  "security": [{
    "ApiKeyAuth": []
  },{
    "BearerAuth": []
  }],
  "paths": {
    "/sensei/status/{jobID}": {
      "summary": "Get the status for an asynchronous cutout/mask job",
      "get": {
        "operationId": "senseiStatus",
        "tags": ["sensei"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "name": "jobID",
          "in": "path",
          "description": "The job to get status for",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenseiStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sensei/Cutout": {
      "summary": "Initiate an asynchronous job to generate a PNG file in 4 channel RGBA format with the generated cutout mask applied to the input image",
      "post": {
        "operationId": "autoCutout",
        "tags": ["sensei"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CutoutRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/sensei/Mask": {
      "summary": "Initiate an asynchronous job to generate a mask PNG",
      "post": {
        "operationId": "autoMask",
        "tags": ["sensei"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CutoutRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/lrService/status/{jobID}": {
      "summary": "Get the status for an asynchronous Lightroom job",
      "get": {
        "operationId": "lightroomStatus",
        "tags": ["lightroom"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "name": "jobID",
          "in": "path",
          "description": "The job to get status for",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "202": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LightroomStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lrService/AutoStraighten": {
      "summary": "Initiates an asynchronous job to auto straighten an image",
      "post": {
        "operationId": "autoStraighten",
        "tags": ["lightroom"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoStraightenRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/lrService/AutoTone": {
      "summary": "Initiates an asynchronous job to auto tone an image",
      "post": {
        "operationId": "autoTone",
        "tags": ["lightroom"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoStraightenRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/lrService/Edit": {
      "summary": "Initiates an asynchronous job to apply a set of edit parameters on an image",
      "post": {
        "operationId": "editPhoto",
        "tags": ["lightroom"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditPhotoRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/lrService/Presets": {
      "summary": "Initiates an asynchronous job to apply a preset on an image",
      "post": {
        "operationId": "applyPreset",
        "tags": ["lightroom"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyPresetRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/lrService/Xmp": {
      "summary": "Initiates an asynchronous job to apply an XMP setting to an image",
      "post": {
        "operationId": "applyPresetXmp",
        "tags": ["lightroom"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyPresetXmpRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pie/psdService/status/{jobId}": {
      "summary": "Returns status and layer info for a psd file created by POST /psdService/status. Will return 202 as long as there are child jobs still running and 200 once all children are complete",
      "get": {
        "operationId": "photoshopStatus",
        "tags": ["photoshop"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }, {
          "name": "jobId",
          "in": "path",
          "description": "The job to get status for",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "description": "once all children are complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoshopStatusResponse"
                }
              }
            }
          },
          "202": {
            "description": "as long as there are child jobs still running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoshopStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pie/psdService/DocumentManifest": {
      "summary": "Initiates an asynchronous job to extract and return a psd file's layer information",
      "post": {
        "operationId": "getDocumentManifest",
        "tags": ["photoshop"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentManifestRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/pie/psdService/DocumentCreate": {
      "summary": "Initiates an asynchronous job to create a new psd, optionally with layers, and then generate renditions and/or save as a psd",
      "post": {
        "operationId": "createDocument",
        "tags": ["photoshop"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/pie/psdService/DocumentOperations": {
      "summary": "Initiates an asynchronous job to apply (optional) psd edits and then generate renditions and/or save as a new psd",
      "post": {
        "operationId": "modifyDocument",
        "tags": ["photoshop"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/pie/psdService/RenditionCreate": {
      "summary": "Initiates an asynchronous job to create renditions",
      "post": {
        "operationId": "createRendition",
        "tags": ["photoshop"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenditionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/pie/psdService/SmartObject": {
      "summary": "Initiates an asynchronous job to apply psd edits for replacing embedded smart object and then generate renditions and/or save a new psd",
      "post": {
        "operationId": "replaceSmartObject",
        "tags": ["photoshop"],
        "parameters": [{
          "$ref": "#/components/parameters/x-gw-ims-org-id"
        }, {
          "$ref": "#/components/parameters/json-content-type"
        }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartObjectRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/pie/psdService/PhotoshopActions": {
      "summary": "Initiates an asynchronous job to play Photoshop Actions and then generate renditions and/or save as a new image",
      "post": {
        "operationId": "applyPhotoshopActions",
        "tags": [
          "photoshop"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "$ref": "#/components/parameters/json-content-type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhotoshopActionsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/pie/psdService/ActionJson": {
      "summary": "Initiates an asynchronous job to play JSON-formatted Photoshop Actions and then generate renditions and/or save as a new image",
      "post": {
        "operationId": "applyPhotoshopActionsJson",
        "tags": [
          "photoshop"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "$ref": "#/components/parameters/json-content-type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhotoshopActionJsonRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/pie/psdService/ActionJsonCreate": {
      "summary": "Converts an atn file to actionJSON.",
      "post": {
        "operationId": "actionJsonCreate",
        "tags": [
          "photoshop"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "$ref": "#/components/parameters/json-content-type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhotoshopActionJsonCreateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/pie/psdService/ProductCrop": {
      "summary": "Executes Product Crop on a given image.",
      "post": {
        "operationId": "productCrop",
        "tags": [
          "photoshop"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "$ref": "#/components/parameters/json-content-type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCropRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/pie/psdService/DepthBlur": {
      "summary": "Executes Depth Blur on a given image. ",
      "post": {
        "operationId": "depthBlur",
        "tags": [
          "photoshop"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "$ref": "#/components/parameters/json-content-type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepthBlurRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/pie/psdService/Text": {
      "summary": "Edit one or more text layers.",
      "post": {
        "operationId": "text",
        "tags": [
          "photoshop"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "$ref": "#/components/parameters/json-content-type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
           "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    },
    "/pie/psdService/ArtboardCreate": {
      "summary": "Creates an artboard.",
      "post": {
        "operationId": "text",
        "tags": [
          "photoshop"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-gw-ims-org-id"
          },
          {
            "$ref": "#/components/parameters/json-content-type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArtboardRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "InputValidationError",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "404": {
            "description": "Requested resource was not found",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          },
           "410": {
            "description": "Asset Link Invalid",
            "content": {
                "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/Errors"
                    }
                }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "parameters": {
      "x-gw-ims-org-id": {
        "name": "x-gw-ims-org-id",
        "in": "header",
        "description": "IMS organization ID. This needs to be sent only if it is desirable to receive the job status through Adobe I/O Events",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "json-content-type": {
        "name": "content-type",
        "in": "header",
        "description": "application/json;charset=utf-8",
        "required": false,
        "schema": {
          "type": "string",
          "default": "application/json;charset=utf-8"
        }
      }
    },
    "schemas": {
      "Errors": {
        "type": "object",
        "description": "any errors reported requested output",
        "properties": {
          "type": {
            "type": "string",
            "description": "error type"
          },
          "code": {
            "type": "string",
            "description": "error code"
          },
          "title": {
            "type": "string",
            "description": "error description"
          },
          "errorDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "param name"
                },
                "reason": {
                  "type": "string",
                  "description": "error"
                }
              }
            }
          }
        }
      },
      "Input": {
        "type": "object",
        "description": "File on Adobe's cloud or an external service (like AWS S3, Azure, Dropbox)",
        "properties": {
          "href": {
            "type": "string",
            "description": "Either an href to a single Creative Cloud asset for storage='adobe' OR a presigned GET URL for other external services.\n\n* CC Storage path must be prepended with `/files` or `/cloud-content` or `/assets`\n* The `/files` path directly corresponds to the root of your local `Creative Cloud Files` folder\n* The `/cloud-content` path directly corresponds to the root of your `Cloud Documents` folder in CC\n* The `/assets` path directly corresponds to the specific sync-group section of CC storage"
          },
          "storage": {
            "type": "string",
            "description": "Storage location",
            "enum": ["adobe", "external", "azure", "dropbox"]
          }
        }
      },
      "SenseiOutput": {
        "type": "object",
        "description": "a PNG file",
        "properties": {
          "href": {
            "type": "string",
            "description": "Either an href to a single Creative Cloud asset for storage='adobe' OR a presigned GET URL for other external services.\n\n* CC Storage path must be prepended with `/files` or `/cloud-content` or `/assets`\n* The `/files` path directly corresponds to the root of your local `Creative Cloud Files` folder\n* The `/cloud-content` path directly corresponds to the root of your `Cloud Documents` folder in CC\n* The `/assets` path directly corresponds to the specific sync-group section of CC storage"
          },
          "storage": {
            "type": "string",
            "description": "Storage location",
            "enum": ["adobe", "external", "azure", "dropbox"]
          },
          "mask": {
            "type": "object",
            "properties": {
              "format": {
                "type": "string",
                "description": "soft mask or binary mask",
                "enum": ["binary", "soft"]
              }
            }
          },
          "overwrite": {
            "type": "boolean",
            "description": "If the file already exists, indicates if the output file should be overwritten. Will eventually support eTags. Only applies to CC Storage",
            "default": true
          }
        }
      },
      "SenseiStatusResponse": {
        "type": "object",
        "properties": {
          "jobID": {
            "type": "string",
            "description": "the job's id requested"
          },
          "created": {
            "type": "string",
            "description": "Created timestamp of the job (YYYY-DD-MMThh:mm:ss.mmmmmZ)"
          },
          "modified": {
            "type": "string",
            "description": "Modified timestamp of the job (YYYY-DD-MMThh:mm:ss.mmmmmZ)"
          },
          "status": {
            "type": "string",
            "description": "Job status",
            "enum": ["pending", "running", "succeeded", "failed"]
          },
          "input": {
            "$ref": "#/components/schemas/Input"
          },
          "output": {
            "$ref": "#/components/schemas/SenseiOutput"
          },
          "errors": {
            "$ref": "#/components/schemas/Errors"
          },
          "_links": {
            "$ref": "#/components/schemas/JobStatusLink"
          }
        }
      },
      "JobStatusLink": {
        "type": "object",
        "properties": {
          "self": {
            "type": "object",
            "properties": {
              "href": {
                "type": "string",
                "description": "Job Status Url"
              }
            }
          }
        }
      },
      "CutoutRequest": {
        "type": "object",
        "properties": {
          "input": {
            "$ref": "#/components/schemas/Input"
          },
          "options":{
            "type":"object",
            "properties":{
              "optimize": {
                "type": "string",
                "enum":["performance","batch"],
                "default": "performance",
                "description": "The value 'performance' optimizes for speed. 'batch' ensures the job will ultimately run regardless of wait time"
              },
              "process": {
                "type": "object",
                "x-internal": true,
                "description": "process is not available for the integrations created with JWT authentication or Service Principle.",
                "properties": {
                  "postprocess": {
                    "type": "boolean"
                  }
                }
              },
              "service": {
                "type": "object",
                "properties": {
                  "version": {
                    "type":"string",
                    "default": "4.0",
                    "description": "Version of the service"
                  }
                }
              }
            }
          },
          "output": {
            "$ref": "#/components/schemas/SenseiOutput"
          }
        }
      },
      "JobStatusLinkResponse": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/JobStatusLink"
          }
        }
      },
      "LightroomOutput": {
        "type": "object",
        "description": "output object",
        "properties": {
          "href": {
            "type": "string",
            "description": "Either a Creative Cloud assets path for storage='adobe' OR a presignedPutURL\n\n* CC Storage hrefs\n  * Must be prepended with `/files` or `/cloud-content` or `/asset`\n  * The `/files` path directly corresponds to the root of your local `Creative Cloud Files` folder\n  * The `/cloud-content` path directly corresponds to the root of your `Cloud documents` folder in CC\n* Template Tokens: At runtime these two tokens get replaced with their respective values... (FOR \"adobe\" STORED FOLDERS ONLY)\n  * $ReqID - replaced with the request id generated by the service\n  * $FileName - replaced with the folder name\n* If the output path is a folder than the Template Tokens will be used to dynamically generate the output file name according to the pattern \"/files/<path>/$ReqID_$FileName.<ext>\""
          },
          "storage": {
            "type": "string",
            "description": "Storage location",
            "enum": ["adobe", "external", "azure", "dropbox"]
          },
          "type": {
            "type": "string",
            "description": "outputs.type desired image format.",
            "default": "image/jpeg",
            "enum": ["image/jpeg", "image/x-adobe-dng", "image/png", "application/rdf+xml"]
          },
          "overwrite": {
            "type": "boolean",
            "description": "If the file already exists, indicates if the output file should be overwritten. Will eventually support eTags. Only applies to CC Storage",
            "default": true
          },
          "quality": {
            "description": "Quality of the JPEG outputs (will be ignored for other output types). Ranges from 0 to 12, with 12 as the highest quality.",
            "type": "number",
            "default": 12,
            "minimum": 0,
            "maximum": 12
          }
        }
      },
      "LightroomStatusResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "description": "the job's id requested (tbd. different case from Sensei?)"
          },
          "created": {
            "type": "string",
            "description": "Created timestamp of the job (YYYY-DD-MMThh:mm:ss.mmmmmZ) (epoch?)"
          },
          "modified": {
            "type": "string",
            "description": "Modified timestamp of the job (YYYY-DD-MMThh:mm:ss.mmmmmZ) (epoch?)"
          },
          "outputs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "input": {
                  "type": "string",
                  "description": "the original input file path"
                },
                "status": {
                  "type": "string",
                  "enum": ["pending", "running", "succeeded", "failed"]
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "$ref": "#/components/schemas/Input"
                    }
                  }
                },
                "errorDetails": {
                  "type": "string",
                  "description": "Description of the exact error that is reported by the requested job. Will appear in the response only if there is an error."
                }
              }
            }
          },
          "_links": {
            "$ref": "#/components/schemas/JobStatusLink"
          }
        }
      },
      "AutoStraightenRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "$ref": "#/components/schemas/Input"
          },
          "options": {
            "type": "object",
            "required": [
              "uprightMode"
            ],
            "properties": {
              "uprightMode": {
                "type": "string",
                "enum": [
                  "auto",
                  "full",
                  "level",
                  "vertical"
                ],
                "description": "The upright mode to use. If you have the options block, then this is a required field. If options block is not specified, then the appropriate upright mode will automatically be selected."
              },
              "constrainCrop": {
                "type": "boolean",
                "description": "If the straightened image should be constrain cropped, to remove all blank edges around an image.",
                "default" : true
              }
            }
          },
          "outputs": {
            "type": "array",
            "description": "Only a single output is supported currently",
            "items": {
              "$ref": "#/components/schemas/LightroomStatusResponse"
            }
          }
        }
      },
      "EditPhotoRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "object",
            "description": "A hash describing an input image to edit. The input object will be one of 'external', 'adobe', 'azure' or 'dropbox'",
            "properties": {
              "source": {
                "$ref": "#/components/schemas/Input"
              }
            }
          },
          "options": {
            "type": "object",
            "properties": {
              "Contrast": {
                "type": "integer",
                "minimum": -100,
                "maximum": 100
              },
              "Saturation": {
                "type": "integer",
                "minimum": -100,
                "maximum": 100
              },
              "VignetteAmount": {
                "type": "integer",
                "minimum": -100,
                "maximum": 100
              },
              "Vibrance": {
                "type": "integer",
                "minimum": -100,
                "maximum": 100
              },
              "Highlights": {
                "type": "integer",
                "minimum": -100,
                "maximum": 100
              },
              "Shadows": {
                "type": "integer",
                "minimum": -100,
                "maximum": 100
              },
              "Whites": {
                "type": "integer",
                "minimum": -100,
                "maximum": 100
              },
              "Blacks": {
                "type": "integer",
                "minimum": -100,
                "maximum": 100
              },
              "Clarity": {
                "type": "integer",
                "minimum": -100,
                "maximum": 100
              },
              "Dehaze": {
                "type": "integer",
                "minimum": -100,
                "maximum": 100
              },
              "Texture": {
                "type": "integer",
                "minimum": -100,
                "maximum": 100
              },
              "Sharpness": {
                "type": "integer",
                "minimum": 0,
                "maximum": 150
              },
              "ColorNoiseReduction": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "NoiseReduction": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "SharpenDetail": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "SharpenEdgeMasking": {
                "type": "integer",
                "minimum": 0,
                "maximum": 10
              },
              "Exposure": {
                "type": "number",
                "minimum": -5.0,
                "maximum": 5.0
              },
              "SharpenRadius": {
                "type": "number",
                "minimum": 0.5,
                "maximum": 3.0
              },
              "WhiteBalance": {
                "type": "string",
                "enum": ["As Shot", "Auto", "Cloudy", "Custom", "Daylight", "Flash", "Fluorescent", "Shade", "Tungsten"]
              }
            }
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LightroomStatusResponse"
            }
          }
        }
      },
      "ApplyPresetRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "object",
            "properties": {
              "source": {
                "$ref": "#/components/schemas/Input"
              },
              "presets": {
                "type": "array",
                "description": "An array describing the list of presets to apply. The preset objects will either be one of 'external', 'adobe', 'azure' or 'dropbox'",
                "items": {
                  "$ref": "#/components/schemas/Input"
                }
              }
            }
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LightroomStatusResponse"
            }
          }
        }
      },
      "ApplyPresetXmpRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "object",
            "properties": {
              "source": {
                "$ref": "#/components/schemas/Input"
              }
            }
          },
          "options": {
            "type": "object",
            "properties": {
              "xmp": {
                "type": "string",
                "description": "The XMP to apply"
              },
              "orientation":{
                "type":"number",
                "description": "The combination of flip and/or rotate to apply",
                "minimum": 1,
                "maximum": 8
              }
            }
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LightroomStatusResponse"
            }
          }
        }
      },
      "IccProfile": {
        "type": "object",
        "properties": {
          "imageMode": {
            "type": "string",
            "description": "the image mode",
            "enum": ["grayscale", "rgb", "cmyk"]
          },
          "input": {
            "$ref": "#/components/schemas/Input"
          },
          "profileName": {
            "type": "string",
            "description": "the name of the color profile",
            "enum": ["Adobe RGB (1998)", "Apple RGB", "ColorMatch RGB", "sRGB IEC61966-2.1", "Dot Gain 10%", "Dot Gain 15%", "Dot Gain 20%", "Dot Gain 25%", "Dot Gain 30%", "Gray Gamma 1.8", "Gray Gamma 2.2"]
          }
        }
      },
      "PhotoshopOutputLayers": {
        "type": "array",
        "description": "An array of layer objects.\nBy including this array you are signaling that you'd like a rendition created from these layer id's or layer names. Excluding it will generate a document-level rendition.",
        "items": {
          "type": "object",
          "properties": {
            "type": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "the layer id"
                },
                "name": {
                  "type": "string",
                  "description": "the layer name"
                }
              }
            }
          }
        }
      },
      "PhotoshopOutput": {
        "type": "object",
        "description": "output object",
        "properties": {
          "href": {
            "type": "string",
            "description": "Either a Creative Cloud assets path for storage='adobe' OR a presignedPutURL\n\n* CC Storage hrefs\n  * Must be prepended with `/files` or `/cloud-content` or `/asset`\n  * The `/files` path directly corresponds to the root of your local `Creative Cloud Files` folder\n  * The `/cloud-content` path directly corresponds to the root of your `Cloud documents` folder in CC\n* Template Tokens: At runtime these two tokens get replaced with their respective values... (FOR \"adobe\" STORED FOLDERS ONLY)\n  * $ReqID - replaced with the request id generated by the service\n  * $FileName - replaced with the folder name\n* If the output path is a folder than the Template Tokens will be used to dynamically generate the output file name according to the pattern \"/files/<path>/$ReqID_$FileName.<ext>\""
          },
          "storage": {
            "type": "string",
            "description": "Storage location",
            "enum": ["adobe", "external", "azure", "dropbox"]
          },
          "type": {
            "type": "string",
            "description": "desired image format\n\n* image/vnd.adobe.photoshop - Create a new PSD file\n* image/jpeg, image/png, image/tiff - Create a new jpeg, png or tiff rendition\n\nImage mode conversions:\n\nCertain image modes (rgb, cmyk, greyscale, etc) must be converted to another image mode before a rendition can be created:\n\n* Tiff Requested: Multichannel and Duotone will convert to RGB\n* PNG Requested: CMYK, HSL, HSB, Multichannel, Duotone, Lab and XYZ will convert to RGB",
            "enum": ["image/vnd.adobe.photoshop", "image/jpeg", "image/png", "image/tiff"]
          },
          "overwrite": {
            "type": "boolean",
            "description": "If the file already exists, indicates if the output file should be overwritten. Will eventually support eTags. Only applies to CC Storage",
            "default": true
          },
          "width": {
            "type": "integer",
            "description": "width, in pixels, of the renditions. Width of 0 generates a full size rendition. Height is not necessary as the rendition generate will automatically figure out the correct width-to-height aspect ratio. Only supported for image rendition",
            "default": 0
          },
          "maxWidth": {
            "type": "integer",
            "description": "size, in pixels, of the renditions. When width is 0, maxWidth can be provided to get the rendition size. maxWidth when less than document width gets precedence over width. Height is not neccessary as the rendition generate will automatically maintain the aspect ratio.",
            "default": 0
          },
          "quality": {
            "type": "integer",
            "description": "quality of the renditions for JPEG. Range from 1 to 7, with 7 as the highest quality.",
            "minimum": 1,
            "maximum": 7,
            "default": 7
          },
          "compression": {
            "type": "string",
            "description": "Desired PNG compression level.",
            "enum": [
              "small",
              "medium",
              "large"
            ]
          },
          "trimToCanvas": {
            "description": "If the renditions needs to be of Canvas size. True, trims the renditions to Canvas size, while false makes the renditions to Layer Size",
            "type": "boolean",
            "enum": [
              false,
              true
            ],
            "default": false
          },
          "layers": {
            "$ref": "#/components/schemas/PhotoshopOutputLayers"
          },
          "iccProfile": {
            "$ref": "#/components/schemas/IccProfile"
          }
        }
      },
      "PhotoshopRenditionLink": {
        "type": "object",
        "description": "rendition object",
        "properties": {
          "href": {
            "type": "string",
            "description": "the rendition location"
          },
          "storage": {
            "type": "string",
            "enum": ["external", "adobe", "azure", "dropbox"]
          },
          "width": {
            "type": "integer",
            "description": "the requested rendition width in pixels"
          },
          "type": {
            "type": "string",
            "enum": ["image/jpeg", "image/png", "image/tiff", "image/vnd.adobe.photoshop"]
          },
          "trimToCanvas": {
            "type": "string",
            "enum": ["true", "false"]
          },
          "layers": {
            "$ref": "#/components/schemas/PhotoshopOutputLayers"
          }
        }
      },
      "PhotoshopStatusResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "description": "the job's id requested"
          },
          "outputs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "input": {
                  "type": "string",
                  "description": "the original input file path"
                },
                "created": {
                  "type": "string",
                  "description": "Created timestamp of the job (YYYY-DD-MMThh:mm:ss.mmmmmZ)"
                },
                "modified": {
                  "type": "string",
                  "description": "Modified timestamp of the job (YYYY-DD-MMThh:mm:ss.mmmmmZ)"
                },
                "status": {
                  "type": "string",
                  "description": "the child job status\n* pending - request has been accepted and is waiting to start\n* running - the child job is running\n* uploading - files have been generated and are uploading to destination\n* succeeded - the child job has succeeded\n* failed - the child job has failed",
                  "enum": ["pending", "running", "uploading", "succeeded", "failed"]
                },
                "document": {
                  "$ref": "#/components/schemas/Document"
                },
                "layers": {
                  "$ref": "#/components/schemas/Layers"
                },
                "_links": {
                  "type": "object",
                  "description": "the rendition links",
                  "properties": {
                    "renditions": {
                      "type": "array",
                      "description": "array off rendition objects",
                      "items": {
                        "$ref": "#/components/schemas/PhotoshopRenditionLink"
                      }
                    }
                  }
                },
                "errors": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "DocumentManifestRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          },
          "options": {
            "type": "object",
            "description": "available options to apply to all input files",
            "properties": {
              "thumbnails": {
                "type": "object",
                "description": "Include presigned GET URLs to small preview thumbnails for any renderable layer",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "desired image format",
                    "enum": ["image/jpeg", "image/png", "image/tiff"]
                  }
                }
              }
            }
          }
        }
      },
      "LayerEdit": {
        "type": "object",
        "description": "Indicates you want to edit the layer identified by it's id or name. Note the object is currently empty but leaves room for further enhancements. The layer block should than contain changes from the original manifest. If you apply it to a group layer you will be effecting the attributes of the group layer itself, not the child layers. Edit layer is supported for layer type \"smartObject\" and \"fillLayer\" only.",
        "properties": { }
      },
      "LayerPosition": {
        "type": "object",
        "description": "",
        "properties": {
          "insertAbove": {
            "$ref": "#/components/schemas/LayerReference"
          },
          "insertBelow": {
            "$ref": "#/components/schemas/LayerReference"
          },
          "insertInto": {
            "$ref": "#/components/schemas/LayerReference"
          },
          "insertTop": {
            "type": "boolean"
          },
          "insertBottom": {
            "type": "boolean"
          }
        }
      },
      "LayerReference": {
        "type": "object",
        "description": "",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The id of the layer you want to insert above. Use either id OR name."
          },
          "name": {
            "type": "string",
            "description": "The name of the layer you want to insert above. Use either id OR name."
          }
        }
      },
      "DocumentCreateRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhotoshopOutput"
            }
          },
          "options": {
            "type": "object",
            "properties": {
              "manageMissingFonts": {
                "type": "string",
                "description": "action to take if there are one or more missing fonts in the document\n\n* fail - The job will not succeed and the status will be set to \"failed\", with the details of the error provided in the \"details\" section in the status\n* useDefault - The job will succeed, however, by default all the missing fonts will be replaced with this font: ArialMT",
                "enum": ["useDefault", "fail"],
                "default": "useDefault"
              },
              "globalFont": {
                "type": "string",
                "description": "options.globalFont The full postscript name of the font to be used as the global default for the document. This font will be used for any text layer which has a missing font and no other font has been specifically provided for that layer.\nIf this font itself is missing, the option specified for manageMissingFonts from above will take effect."
              },
              "fonts": {
                "$ref": "#/components/schemas/Fonts"
              },
              "document": {
                "$ref": "#/components/schemas/Document"
              },
              "layers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "the layer type.\n\n* smartObject - a smart object\n* fillLayer - a fill layer",
                      "enum": ["layer", "textLayer", "adjustmentLayer", "smartObject", "fillLayer"]
                    },
                    "input": {
                      "$ref": "#/components/schemas/Input"
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "is the layer locked",
                      "default": false
                    },
                    "visible": {
                      "type": "boolean",
                      "description": "is the layer visible",
                      "default": true
                    },
                    "adjustments": {
                      "$ref": "#/components/schemas/AdjustmentLayer"
                    },
                    "bounds": {
                      "$ref": "#/components/schemas/Bounds"
                    },
                    "mask": {
                      "type": "object",
                      "allOf": [{
                        "type": "object",
                        "properties": {
                          "input": {
                            "$ref": "#/components/schemas/Input"
                          }
                        }
                      }, {
                        "$ref": "#/components/schemas/LayerMask"
                      }]
                    },
                    "smartObject": {
                      "type": "object",
                      "description": "An object describing the attributes specific to creating or editing a smartObject.\nSmartObject properties need the input smart object file to operate on, which can be obtained from Input block. Currently we support Embedded Smart Object only.So this block is optional. If you are creating a Linked Smart Object, this is a required block.",
                      "properties": {
                        "linked": {
                          "type": "boolean",
                          "description": "Indicates if this Smart Object is linked. Currently we support Embedded Smart Object only which means \"linked = false\".",
                          "default": false
                        }
                      }
                    },
                    "fill": {
                      "$ref": "#/components/schemas/FillLayer"
                    },
                    "text": {
                      "$ref": "#/components/schemas/TextLayer"
                    },
                    "blendOptions": {
                      "$ref": "#/components/schemas/BlendOptions"
                    },
                    "fillToCanvas": {
                      "type": "boolean",
                      "description": "",
                      "default": false
                    },
                    "horizontalAlign": {
                      "type": "string",
                      "description": "Indicates the horizontal position where this layer needs to be placed at. Applicable only to layer type=\"smartObject\" or layer type=\"layer\".",
                      "enum": ["left", "center", "right"]
                    },
                    "verticalAlign": {
                      "type": "string",
                      "description": "Indicates the vertical position where this layer needs to be placed at. Applicable only to layer type=\"smartObject\" or layer type=\"layer\".",
                      "enum": ["top", "center", "bottom"]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DocumentOperationsRequest": {
        "type": "object",
        "description": "",
        "properties": {
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhotoshopOutput"
            }
          },
          "options": {
            "type": "object",
            "properties": {
              "manageMissingFonts": {
                "type": "string",
                "description": "action to take if there are one or more missing fonts in the document\n\n* fail - The job will not succeed and the status will be set to \"failed\", with the details of the error provided in the \"details\" section in the status\n* useDefault - The job will succeed, however, by default all the missing fonts will be replaced with this font: ArialMT",
                "enum": ["useDefault", "fail"],
                "default": "useDefault"
              },
              "globalFont": {
                "type": "string",
                "description": "options.globalFont The full postscript name of the font to be used as the global default for the document. This font will be used for any text layer which has a missing font and no other font has been specifically provided for that layer.\nIf this font itself is missing, the option specified for manageMissingFonts from above will take effect."
              },
              "fonts": {
                "$ref": "#/components/schemas/Fonts"
              },
              "document": {
                "type": "object",
                "properties": {
                  "canvasSize": {
                    "type": "object",
                    "properties": {
                      "bounds": {
                        "$ref": "#/components/schemas/Bounds"
                      }
                    }
                  },
                  "imageSize": {
                    "type": "object",
                    "properties": {
                      "width": {
                        "type": "integer"
                      },
                      "height": {
                        "type": "integer"
                      }
                    }
                  },
                  "trim": {
                    "type": "object",
                    "properties": {
                      "basedOn": {
                        "type": "string",
                        "default": "transparentPixels",
                        "enum": ["transparentPixels"]
                      }
                    }
                  }
                }
              },
              "layers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "edit": {
                      "$ref": "#/components/schemas/LayerEdit"
                    },
                    "move": {
                      "allOf": [{
                        "type": "object",
                        "properties": {
                          "moveChildren": {
                            "type": "boolean",
                            "default": true
                          }
                        }
                      }, {
                        "$ref": "#/components/schemas/LayerPosition"
                      }]
                    },
                    "add": {
                      "$ref": "#/components/schemas/LayerPosition"
                    },
                    "delete": {
                      "type": "boolean",
                      "description": "Indicates you want to delete the layer, including any children, identified by the id or name. Note the object is currently empty but leaves room for further enhancements"
                    },
                    "id": {
                      "type": "integer",
                      "description": "the layer id"
                    },
                    "index": {
                      "type": "integer",
                      "description": "the layer index.  Required when deleting a layer, otherwise not used"
                    },
                    "children": {
                      "$ref": "#/components/schemas/Layers"
                    },
                    "type": {
                      "type": "string",
                      "description": "the layer type.\n\n* smartObject - a smart object\n* fillLayer - a fill layer",
                      "enum": ["layer", "textLayer", "adjustmentLayer", "smartObject", "fillLayer", "backgroundLayer"]
                    },
                    "input": {
                      "$ref": "#/components/schemas/Input"
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "is the layer locked",
                      "default": false
                    },
                    "visible": {
                      "type": "boolean",
                      "description": "is the layer visible",
                      "default": true
                    },
                    "adjustments": {
                      "$ref": "#/components/schemas/AdjustmentLayer"
                    },
                    "mask": {
                      "type": "object",
                      "allOf": [{
                        "type": "object",
                        "properties": {
                          "input": {
                            "$ref": "#/components/schemas/Input"
                          }
                        }
                      }, {
                        "$ref": "#/components/schemas/LayerMask"
                      }]
                    },
                    "bounds": {
                      "$ref": "#/components/schemas/Bounds"
                    },
                    "smartObject": {
                      "type": "object",
                      "description": "An object describing the attributes specific to creating or editing a smartObject.\nSmartObject properties need the input smart object file to operate on, which can be obtained from Input block. Currently we support Embedded Smart Object only.So this block is optional. If you are creating a Linked Smart Object, this is a required block.",
                      "properties": {
                        "linked": {
                          "type": "boolean",
                          "description": "Indicates if this Smart Object is linked. Currently we support Embedded Smart Object only which means \"linked = false\".",
                          "default": false
                        }
                      }
                    },
                    "fill": {
                      "$ref": "#/components/schemas/FillLayer"
                    },
                    "text": {
                      "$ref": "#/components/schemas/TextLayer"
                    },
                    "blendOptions": {
                      "$ref": "#/components/schemas/BlendOptions"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RenditionCreateRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "description": "An array of input objects. We currently only support one input object",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          },
          "outputs": {
            "type": "array",
            "description": "An array of output objects",
            "items": {
              "$ref": "#/components/schemas/PhotoshopOutput"
            }
          }
        }
      },
      "SmartObjectRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "description": "An array of input objects. We currently only support one input object",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          },
          "outputs": {
            "type": "array",
            "description": "An array of output objects",
            "items": {
              "$ref": "#/components/schemas/PhotoshopOutput"
            }
          },
          "options": {
            "type": "object",
            "properties": {
              "layers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "add": {
                      "$ref": "#/components/schemas/LayerPosition"
                    },
                    "id": {
                      "type": "integer",
                      "description": "the layer id"
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "is the layer locked",
                      "default": false
                    },
                    "visible": {
                      "type": "boolean",
                      "description": "is the layer visible",
                      "default": true
                    },
                    "input": {
                      "$ref": "#/components/schemas/Input"
                    },
                    "bounds": {
                      "$ref": "#/components/schemas/Bounds"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PhotoshopActionsRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "description": "An array of input objects. We currently only support one input object",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          },
          "outputs": {
            "type": "array",
            "description": "An array of output objects",
            "items": {
              "$ref": "#/components/schemas/PhotoshopOutput"
            }
          },
          "options": {
            "type": "object",
            "properties": {
              "actions": {
                "$ref": "#/components/schemas/Actions"
              },
              "patterns": {
                "$ref": "#/components/schemas/Patterns"
              },
              "fonts": {
                "$ref": "#/components/schemas/Fonts"
              },
              "brushes": {
                "$ref": "#/components/schemas/Brushes"
              }
            }
          }
        }
      },
      "PhotoshopActionJsonRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "description": "An array of input objects. We currently only support one input object",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          },
          "outputs": {
            "type": "array",
            "description": "An array of output objects",
            "items": {
              "$ref": "#/components/schemas/PhotoshopOutput"
            }
          },
          "options": {
            "type": "object",
            "properties": {
              "actionJSON": {
                "$ref": "#/components/schemas/ActionsJson"
              },
              "patterns": {
                "$ref": "#/components/schemas/Patterns"
              },
              "fonts": {
                "$ref": "#/components/schemas/Fonts"
              },
              "brushes": {
                "$ref": "#/components/schemas/Brushes"
              },
              "additionalImages": {
                "$ref": "#/components/schemas/AdditionalImages"
              }

            }
          }
        }
      },
      "PhotoshopActionJsonCreateRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "description": "An array of input action sets in ATN format. We currently only support one input object",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          },
           "options": {
            "type": "object",
            "description": "This block is needed only if you want to specify whcih action to convert from the ActionSet ",
            "required": ["actions"],
            "properties": {
              "actions": {
                "type": "array",
                "minItems": 1,
                "maxItems": 1,
                "items": {
                  "$ref": "#/components/schemas/ActionObject"
                }
              }
            }
          }
        }
      },
      "ProductCropRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "description": "An array of input objects. We currently only support one input object",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          },
          "outputs": {
            "type": "array",
            "description": "An array of output objects",
            "items": {
              "$ref": "#/components/schemas/PhotoshopOutput"
            }
          },
          "options": {
            "type": "object",
            "properties": {
              "unit": {
                "type": "string",
                "enum": ["Pixels", "Percent"],
                "description": "Unit for width and height"
              },
              "width": {
                "type": "integer",
                "description": "The width to be added as padding."
              },
              "height": {
                "type": "integer",
                "description": "The height to be added as padding."
              }
            }
          }
        }
      },
      "DepthBlurRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "description": "An array of input objects. We currently only support one input object",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          },
          "outputs": {
            "type": "array",
            "description": "An array of output objects",
            "items": {
              "$ref": "#/components/schemas/PhotoshopOutput"
            }
          },
          "options": {
            "type": "object",
            "properties": {
                "focalDistance": {
                    "type": "integer",
                    "description": "The distance of the point to be in focus. 0 would be the nearest point, 100 would be the furthest point",
[...]
